<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ghunit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>oauth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A52963E13122D99002CECCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A52964B13122D99002CECCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A52966F13122EE5002CECCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A52969313122EE6002CECCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF162051312887F00A06273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF162291312887F00A06273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
